---
const { title, href, rounded, color, size, sizeText } = Astro.props;
---

<a href={href} class={`flex items-center justify-center ${size} px-6 py-3 text-white ${color} ${rounded} shadow-gray-500 shadow-lg  hover:scale-105 transition-all duration-300 ease-in-out`}>
  <div class="flex items-center space-x-2">
    <p class={`${sizeText} font-semibold text-center`}>{title}</p>
  </div>